.generator{
    width: 90%;
    height: 100%;
    max-width: 500px;
    margin: 10px auto;
    background-color: #d9e1e8;
    padding: 5px 20px;
    border-radius: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}
.passcamp{
    width: 100%;
}
.passThings{
    display: flex;
    flex-direction: row;
}
.checkbox{
    margin: 10px 5px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.writer{
    display: flex;
    margin: 0 auto;
    align-self: center;
    align-items: center;
    align-content: center;
    color: white;
}
.passwordData{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.modal{
    display: flex;
    justify-content: center;
}
.modalText{
    padding: 10px 10px;
    font-size: 20px;
    text-align: center;
}
.modalButton{
    width: 100;
    align-self: center;
}