@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.writer-div{
    width: 90%;
    position: relative;
    display: flex;
    align-self: center;
    margin: 0 auto;
    flex-direction: column;
}
.writer{
    align-self: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    white-space: pre-line;
    padding: 8px 0px;
}